// Screen size
$mobile: 375px;
$desktop: 1440px;

// Colors
$primaryColor: hsl(180, 29%, 50%);
$lightColor1: hsl(180, 52%, 96%);
$loghtColor2: hsl(180, 31%, 95%);
$darkColor: hsl(180, 8%, 52%);
$veryDarkColor: hsl(180, 14%, 20%);

// Text colors
$textColor: rgb(31, 31, 31);
$lightTextColor: rgb(63, 62, 62);
