@use '../../sass/base';
@use '../../sass/typography' as typo;

.job-item {
  display: grid;
  align-items: center;

  @include base.media-mobile {
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;
  }

  @include base.media-medium {
    grid-template-columns: 100px repeat(2, minmax(300px, 2fr));
    grid-template-rows: max-content;
    column-gap: 1.5rem;

    &__bio {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  @include base.media-desktop {
    grid-template-columns: 100px repeat(2, minmax(300px, 2fr));
    grid-template-rows: max-content;
    column-gap: 1.5rem;

    &__bio {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

.job-bio {
  display: flex;
  flex-direction: column;

  &__row1 {
    display: flex;
    align-items: center;

    p {
      color: base.$primaryColor;
      font-weight: 700;
      margin-right: 0.5rem;
    }

    #new {
      @extend %button;
      color: white;
      padding: .5rem .8rem;
      border-radius: 50px;
      background-color: base.$primaryColor;
      margin: 0 .5rem;
    }
    
    #featured {
      @extend %button;
      color: white;
      padding: .5rem .8rem;
      border-radius: 50px;
      background-color: base.$veryDarkColor;
      margin: 0 .5rem;
    }
  }

  &__row2 {
    margin: 1.2rem 0;
    color: base.$textColor;
  }

  &__row3 {
    display: flex;
    align-items: center;

    p {
      margin-right: 2rem;
      color: base.$lightTextColor;
    }
  }

  @include base.media-mobile {
    padding-bottom: 2rem;
    border-bottom: base.$lightTextColor solid 1px;
  }

  @include base.media-medium {
    padding-bottom: 0;
    border-bottom: none;
  }
}
